body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(#141e30, #243b55);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.login-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 550px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
  font-weight: 600;
  color: #fff;
  font-size: 18px; /* Slightly larger font size */
  text-align: left; /* Align label text to the left */
}

input[type="text"],
select {
  padding: 14px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 8px; /* Slightly larger border radius */
  background: transparent;
  color: #fff;
  font-size: 18px; /* Slightly larger font size */
  text-align: left; /* Align input text to the left */
}
button {
  padding: 0 20px; /* Adjusted padding */
  height: 50px;
  width: 120px; /* Fixed height */
  border: none;
  border-radius: 8px;
  background-color: #03e9f4;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 18px;
}

button:hover {
  background-color: #0284a8;
}



.image {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
  height: auto;
}

.buttons-container button {
  margin-bottom: 15px; /* Slightly larger margin */
}

.block_img_btn {
  padding: 25px; /* Slightly larger padding */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_fourth {
  padding: 14px;
  font-size: 18px; /* Slightly larger font size */
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: #03e9f4;
  border: none;
  border-radius: 8px; /* Slightly larger border radius */
  outline: none;
  transition: background-color 0.3s ease;
  display: block;
  margin-top: 20px; /* Slightly larger margin */
  margin-bottom: 15px; /* Slightly larger margin */
}

.button_fourth:hover {
  background-color: #0284a8;
}

.fourth-page-parag {
  font-size: 28px; /* Slightly larger font size */
  color: white;
  font-weight: bold;
  margin-bottom: 25px; /* Slightly larger margin */
}

.rectangle{
  width: 1700px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.7);
  border-style: none;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;

  
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .login-box {
    padding: 20px;
  }

  label,
  input,
  select,
  button {
    font-size: 16px;
  }

  .button_fourth {
    padding: 12px;
    font-size: 16pxa;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .login-box {
    padding: 15px;
  }

  label,
  input,
  select,
  button {
    font-size: 14px;
  }

 

  .button_fourth {
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}



.dropdownContainer {
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 15px; /* Adjusted margin */
  background: rgba(0, 0, 0, 0.7);
  padding: 15px; /* Adjusted padding */
  border-radius: 8px; /* Slightly larger border radius */
}

/* Additional styles for the dropdown options */
select {
  background: transparent; /* Make the dropdown background transparent */
  color: #fff;
  font-size: 18px;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 14px;
  text-align: left; /* Align text to the left */
}

/* Additional styles for the dropdown options in mobile view */
@media screen and (max-width: 480px) {
  select {
    font-size: 14px;
    padding: 10px;
  }
  details{
    width: 300px;
    position: absolute;
    bottom: 10px;
    left: 0;
    padding-left: 30px;

    
  }
}
@media (min-width: 576px) {  details{
  width: 300px;
  position: absolute;
  bottom: 10px;
  left: 0;
  padding-left: 30px;

  
} }

.paragrgh {
    
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.title{
  position: fixed;
  color: white;
  left: 120px;
  font-size: 30px;
  font-weight: bold;
  width: 500px;
}

.details {
  position: absolute;
  top: 100px;
  left: 0;
  padding-left: 30px;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
}