html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  color: #fff;
}

p {
  color: white;
  font-size: 20px;
  max-width: 100%; /* Ensure responsiveness */
  margin: 0 auto; /* Center the text */
}

.paragraph {
  color: white;
  font-size: 20px;
  padding: 20px;
  max-width: 100%; /* Ensure responsiveness */
  margin: 0 auto; /* Center the text */
}

.details {
  padding-left: 5vw; /* Adjusted padding for responsiveness */
  color: white;
  font-size: 20px;
  padding: 20px;
  max-width: 100%; /* Ensure responsiveness */
  margin: 0 auto; /* Center the text */
}

.dropdownContainer {
  color: white;
  margin-bottom: 1px;
  padding: 15px; /* Adjusted padding for responsiveness */
  max-width: 100%; /* Ensure responsiveness */
  margin: 0 auto; /* Center the container */
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

select {
  background-color: #03e9f4;
  padding: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.button {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: #03e9f4;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease;
  display: block;
  margin: 10px auto; /* Center the button */
}

button:hover {
  background-color: #0284a8;
}


.image {
  max-width: 100%;
  height: auto;
  margin: 0 5vw; /* Adjusted margin for responsiveness */
}

.buttons-container button {
  margin-bottom: 10px;
}

.block_img_btn {
  padding-top: 10vw;
  padding-left: 1vw;
  padding-right: 15vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation-button {
  display: flex;
  justify-content: space-between;
}

/* Existing styles */

.vid-container {
  display: flex;
  position: fixed;
  top: 120px;
  justify-content: space-around;
}

/* Media query for screens up to 768px wide */
@media screen and (max-width: 768px) {
  .vid-container {
    flex-direction: column; /* Change to a column layout */
    align-items:center; /* Center items in the column */
    top: 150px; /* Adjusted top position for better spacing */
  }
}


.container_fourth {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.buttons-container_fourth {
  margin: 5vw; /* Adjusted margin for responsiveness */
}

.button_fourth {
  padding: 15px;
  position: fixed;
  bottom: 1vw; /* Adjusted bottom margin for responsiveness */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: #03e9f4;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease;
  display: block;
  margin: 25px 5vw; /* Adjusted margin for responsiveness */
}

.button_fourth:hover {
  background-color: #0284a8;
}

.fourth-page-parag {
  display: block;
  max-width: 100%; /* Ensure responsiveness */
  font-size: 40px;
  color: white;
  font-weight: bold;
  padding-top: 1vw; /* Adjusted padding for responsiveness */
  position: fixed;
  color: white;
  left: 120px;
  font-size: 30px;
  font-weight: bold;
  width: 500px;

  padding-left: 1vw; /* Adjusted padding for responsiveness */
  margin: 0 auto; /* Center the text */
}



.second-page-parag-border{
  position: fixed;
  color: white;
  left: 120px;
  font-weight: bold;
  width: 800px;
  display: block;
  max-width: 100%; /* Ensure responsiveness */
  font-size: 40px;
  padding-top: 1vw; /* Adjusted padding for responsiveness */

  padding-left: 1vw; /* Adjusted padding for responsiveness */
  margin: 0 auto; 
}

.second-page-parag {
  display: block;
  max-width: 100%; /* Ensure responsiveness */
  font-size: 40px;
  color: white;
  font-weight: bold;
  padding-top: 1vw; /* Adjusted padding for responsiveness */

  padding-left: 1vw; /* Adjusted padding for responsiveness */
  margin: 0 auto; /* Center the text */
}

.rectangle {
  width: 100%;
  height: 5vw; /* Adjusted height for responsiveness */
  background-color: rgba(0, 0, 0, 0.7);
  border-style: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

