<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="module" src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.7.1/firebase-firestore.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.7.1/firebase-storage.js"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Home.css') }}"
    />

    <source
      src="{{ url_for('static', filename='mn.mp3') }}"
      type="'audio/mpeg"
    />
  </head>
  <body>
    <div class="rectangle">
      <p class="second-page-parag-border">Camera Name {{ gateNameInput }}</p>
      <img
        src="static\icon.ico"
        style="height: 100%; width: 7%"
        id="homeButton"
      />
    </div>
    <div class="block_img_btn">
      <canvas id="outputCanvas" width="800" height="600"></canvas>
      
      <div class="totalNbutton">

      <h1 class ='total'> Total: <span id="countValue"></span></h1>
      <button class="button" id="mm">Stop</button>
    </div>
</div>
    <script type="module">

      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      import {getFirestore, collection, addDoc, serverTimestamp} from "https://www.gstatic.com/firebasejs/10.7.1/firebase-firestore.js";
      import { getStorage, ref, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-storage.js"; 
    


      const firebaseConfig = {
        apiKey: "AIzaSyBp1-XkxPN_8A2P0eN1zvfZn2UmK67m0PM",
        authDomain: "borders-6mmmsha.firebaseapp.com",
        projectId: "borders-6mmmsha",
        storageBucket: "borders-6mmmsha.appspot.com",
        messagingSenderId: "921502256532",
        appId: "1:921502256532:web:cfa32a4aea85e7ebadd381",
        measurementId: "G-DQJ79K7Q3M"
        };


        const app = initializeApp(firebaseConfig);
        const firestore = getFirestore(app);
        const storage = getStorage(app);


      var goBackToHome = function () {
        window.location.href = "/";
      };

      // Click event handler for the home button
      document
        .getElementById("homeButton")
        .addEventListener("click", function () {
          goBackToHome();
        });

      let sound1 = new Audio("static/mn.mp3");
      let audio = document.createElement("audio");
      audio.src = "static/mn.mp3";

      let playSound = false;

      function rewindAudio() {
        audio.currentTime = 0;
      }

      /*document.getElementById('captureButton').addEventListener('click', async () => {
              sound1.play();
              playSound = true;
              });*/

      document.getElementById("mm").addEventListener("click", function () {
        sound1.pause();
        rewindAudio();
        playSound = false;
      });

      document.body.addEventListener("click", function () {
        audio.pause();
        rewindAudio();
        playSound = false;
      });

      const ip = "{{ ip }}";
      var gate_name = "{{gateNameInput}}";
      let video = document.createElement("video");
      document.body.appendChild(video);
      video.hidden = true;
      window.onload = () => startStream("");

      let inputCanvas = document.createElement("canvas");
      document.body.appendChild(inputCanvas);
      inputCanvas.style.display = "none";

      let outputCanvas = document.getElementById("outputCanvas");
      let outputContext = outputCanvas.getContext("2d");
      let sendInterval = 200;
      let stopped = false;
      

      let lastcount = 0;

      function startStream() {
        startVideo()
          .then(() => {
            setInterval(function () {
              if (stopped) {
                return;
              }

              inputCanvas.width = video.videoWidth;
              inputCanvas.height = video.videoHeight;
              let inputContext = inputCanvas.getContext("2d");
              inputContext.drawImage(
                video,
                0,
                0,
                inputCanvas.width,
                inputCanvas.height
              );
              let imgData = inputCanvas.toDataURL("image/jpeg");

              fetch("/process_frame_border", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ frame: imgData, ip: ip ,gate_name:gate_name}), // Include 'ip' in the request body
              })
                .then((response) => response.json())
                .then( async (data) => {
                  if (data && data.processed_frame) {
                    let processedImage = new Image();
                    processedImage.onload = function () {
                      outputContext.drawImage(processedImage, 0, 0, 640, 480);
                    };
                    processedImage.src =
                      "data:image/jpeg;base64," + data.processed_frame;

                    // Update the count value in the HTML
                    if (data.count !== undefined) {
                      document.getElementById("countValue").innerText =
                        data.count;

                      if (data.count > 0  && data.count !== lastcount) {
                        lastcount = data.count;
                        sound1.play();

                        let decodedImageData = atob(data.processed_frame);
                        // Convert the decoded binary data to a Uint8Array
                        let arrayBuffer = new ArrayBuffer(decodedImageData.length);
                        let uint8Array = new Uint8Array(arrayBuffer);
                        
                        for (let i = 0; i < decodedImageData.length; i++) {
                          uint8Array[i] = decodedImageData.charCodeAt(i);
                        }
                        // Create a Blob from the Uint8Array
                        let blob = new Blob([uint8Array], { type: "image/jpeg" });
                
                        const storageRef = ref(storage, `${gate_name}/${gate_name}_${Date.now()}.jpg`);
                        
                        await uploadBytes(storageRef, blob);
                
                        const imageUrl = await getDownloadURL(storageRef);
                        


                        await addDoc(collection(firestore, gate_name), {
                          loginTime: serverTimestamp(),
                          currentscene: imageUrl,
                          count: data.count
                          });

                        //alert(data.count+" " +"persons are crossing the Border");  
                      }
                    }
                  }
                })
                .catch(error => {
                  console.error("Error:", error);
                });
            }, sendInterval);
          })
          .catch(error => {
            console.error("Error starting video:", error);
          });
      }
      function startVideo() {
        return new Promise((resolve, reject) => {
          if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices
              .getUserMedia({ video: true })
              .then(function (stream) {
                video.srcObject = stream;
                video.play();
                resolve();
              })
              .catch(function (error) {
                reject(error);
              });
          } else {
            reject(new Error("getUserMedia is not supported in this browser."));
          }
        });
      }
      function stopStream() {
        stopped = true;
        let tracks = video.srcObject.getTracks();

        tracks.forEach((track) => track.stop());
        video.srcObject = null;
        outputContext.clearRect(0, 0, outputCanvas.width, outputCanvas.height);
      }
    </script>
  </body>
</html>
