<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='Home.css') }}"
    />
    <meta charset="UTF-8" />
    <title>Video Stream with Line</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="module" src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.7.1/firebase-firestore.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.7.1/firebase-storage.js"></script>

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='icon.ico') }}"
    />
    <!-- <style>
        .image {
          height: 500px; /* default size for larger screens */
          max-width: 1000px;
        }
        .fourth-page-canvas {
            height: 500px; /* default size for larger screens */
            max-width: 1000px;
          }
      
        @media screen and (max-width: 767px) {
          /* Adjust size for screens up to 767px wide (typically mobile phones) */
          .image {
            height: 150px;
            width: 350px;
          }
          .fourth-page-canvas{
            height: 150px;
            width: 350px;

          }
        }
      </style> -->
  </head>
  <body>
    <div class="container_fourth">
      <div class="rectangle">
        <p class="second-page-parag-border">
          Capture To Start Counting For {{ gate_name }}
        </p>
        <img src="static\icon.ico" style="height: 100%; width: 7%" id="homeButton" />

      </div>
    </div>

    <div class="vid-container">
      <img
        class="image"
        id="videoFeed"
        src="{{ url_for('crowd_video_feed', url=url,ip=ip) }}"
        width="600"
        height="500"
      />

      <span></span>
      <canvas
        id="canvas"
        width="550"
        height="500"
        style="display: none"
        class="fourth-page-canvas"
      ></canvas>
      <div id="captured-image-container"></div>
    </div>

    <button id="capture-btn" class="button_fourth">Capture</button>

    <script type="module">

      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      import {getFirestore, collection, addDoc, serverTimestamp} from "https://www.gstatic.com/firebasejs/10.7.1/firebase-firestore.js";
      import { getStorage, ref, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-storage.js"; 

      const firebaseConfig = {
        apiKey: "AIzaSyBp1-XkxPN_8A2P0eN1zvfZn2UmK67m0PM",
        authDomain: "borders-6mmmsha.firebaseapp.com",
        projectId: "borders-6mmmsha",
        storageBucket: "borders-6mmmsha.appspot.com",
        messagingSenderId: "921502256532",
        appId: "1:921502256532:web:cfa32a4aea85e7ebadd381",
        measurementId: "G-DQJ79K7Q3M"
        };


        const app = initializeApp(firebaseConfig);
        const firestore = getFirestore(app);
        const storage = getStorage(app);
        const storageRef = ref(storage, `image_${Date.now()}.jpg`);


      var goBackToHome = function () {
        window.location.href = "/";
    };

    // Click event handler for the home button
    document.getElementById('homeButton').addEventListener('click', function () {
        goBackToHome();
    });



      const canvas = document.getElementById("canvas");
      const captureButton = document.getElementById("capture-btn");
      const capturedImageContainer = document.getElementById(
        "captured-image-container"
      );
      const ip = "{{ ip }}";
      var gate_name = "{{gate_name}}";

      captureButton.addEventListener("click", function () {
        sendCaptureSignal(1, ip);
      });

      function sendCaptureSignal(value, ip) {
        fetch("/capture_signal", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ value: value, ip: ip, gate_name:gate_name }),
        })
          .then((response) => response.json())
          .then(async (data) => {
            if (data.image) {
              const receivedImageData = data.image;
              const decodedImageData = atob(receivedImageData);
              const imgElement = new Image();
              const blob = new Blob(
                [
                  new Uint8Array(
                    decodedImageData.split("").map((char) => char.charCodeAt(0))
                  ),
                ],
                { type: "image/jpeg" }
              );
              imgElement.src = URL.createObjectURL(blob);
              capturedImageContainer.innerHTML = "";
              capturedImageContainer.appendChild(imgElement);
            

            const arrayBuffer = new ArrayBuffer(decodedImageData.length);
            const uint8Array = new Uint8Array(arrayBuffer);
            for (let i = 0; i < decodedImageData.length; i++) {
              uint8Array[i] = decodedImageData.charCodeAt(i);
            }


            let blob2 = new Blob([uint8Array], { type: "image/jpeg" });
            
            const storageRef = ref(storage, `${gate_name}/${gate_name}_${Date.now()}.jpg`);

            await uploadBytes(storageRef, blob2);

            const imageUrl = await getDownloadURL(storageRef);
    
    
            await addDoc(collection(firestore, gate_name), {
              loginTime: serverTimestamp(),
              currentscene: imageUrl
              });
          }})
          .catch((error) => {
            console.error("Error sending capture signal:", error);
      });
      }
    </script>
  </body>
</html>
